@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2); 
}
#content {
	height: 100vh;
    margin-top: 50px;
    background-color: white;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
#logo {
    background-color: white;
    display: flex;
    justify-content: center;
   
    height: 150px;
    
}
#content::after {
    clear: both;
    display: block;
    content: '';
}
header {
    padding: 10px;
    text-align: center;
    color:#000;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;

}

form {
    margin: 0;
}
#loaders {
    text-align: center;
}
#loaders img {
    width: 150px;
    margin: 0 auto;
    display: none;
}
#resetBtn {
    float: right;
}
